
body{
    font-family: 'Roboto', sans-serif;
}
/** start navbar */
.navbar{
	padding: .3rem 1rem;
	background: #ffffff;
}
.dropdown:hover .dropdown-menu{display: block;}
.navbar .nav-link  {text-decoration:none;}
.navbar-brand { 
    padding-top: 0; 
    padding-bottom: 0; 
}
.navbar-brand .sf ,.navbar-brand .sl {
	line-height: 1.1rem;
	font-family: 'Righteous', cursive ;
}
.navbar .navbar-brand .sf{
   color: #3B74BC;
   font-size: 2.4rem;
   font-weight: 500;
  
}
.navbar .sl{
	color: #FFC800;
    font-size: 1.5rem;
    font-weight: 300;
    
}
.navbar .need{
	font-size: 13px;
	font-weight:bold;
	color: #000;
}
.navbar-light .navbar-nav .nav-link{
	border-radius: 50px;
    padding: 7px 20px;
    font-weight: 450;
}
.navbar .nav-item button{
	border-style: none;
	border-radius: 50px;
	padding: 8px 15px;
    margin-top: 7px;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: -18px;}
.navbar .nav-item button:hover{
	background: #000;
	color:#fff;}
.navbar .collapse ul li{padding-right: 15px;}
.navbar .collapse ul li .las{padding-right: 20px;}
.navbar .collapse ul li  a >span{
	font-size: 13px;
    text-transform: capitalize;
    color: #000;
}
.navbar .collapse ul li  a >i{color: #999;font-size: 11px;}
.navbar .collapse ul li  a .imge{margin-top: -2px;}
.navbar .collapse ul li:hover span{color:#FFC800;}

.navbar .navbar-nav .dropdown-menu{
	 border:none;
     background: #f5f5f5;
}
.navbar .navbar-nav .dropdown-menu a{

	font-size: 15px;
	color: #aaa;
}
.navbar .navbar-nav .dropdown-menu a:hover{
	background: #fff;
    color: #FFC800;
}
/** end navbar */
/** */

/** start search section*/
.search-sec{
	background:url("../images/img21.jpg") no-repeat center center fixed;
    width: 100%;
	min-height: 500px;
}

.search-sec *:focus {
	outline: 0 !important;
}
.search-sec {
	padding-top: 70px;
	color: #fff;	
}
.search-sec .search-container{   
    background: rgba(0,0,0,0.3);
    padding: 10px 10px 0;
    border-radius: 50px;
}
.search-sec h1{
	text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 25px;
    margin-top: 100px
}
.search-sec button{
	border-style: none;
	font-size: 13.5px;
	line-height: 1.5px;

}
.search-sec button:hover{
	color:#fff;
	background: #000;
}
.search-sec .cont{
	background: #103E7A;
	height: 20px;
	opacity: 0.5;
	border-radius: 50px;   
	}
.search-sec .choose input{ 
	
    margin-left: 10px;
}
.search-sec .choose i{float: right;
     color: #999;
     margin-top: 20px;}
.search-sec .check input,
.search-sec .choose input{float: left;
	font-size: 15px;
	color: #999;
	margin-top: 15px;
	font-size: 13.5px;
	border: none;

}  
.search-sec .check input{margin-right:-10px;}   
.search-sec .check img{float: right;
    color: #999;
    margin-top: -30px;
}




/** end search section*/
/** */

/**start host*/
.host{
	background:#FFC700;
	margin-top: -16px;
}
.host h4{
	padding-top: 40px;
	font-weight: 650;
	font-size: 22.5px;

}
.host .row {padding-bottom: 35px;}

.host p{
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.;
}

.host button{
	border-radius: 50px;
	
	background: #000;
	font-weight: 550;
	color:#fff;
    padding: 7px 30px;
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 2;
    margin-top: -5px;

}
.host p ,.host button{
	border-style: none;
}
/** end host*/
/** */

/**strat recent */

.recent .row1{
	padding-top: 40px;
	padding-bottom: 30px;

}
.recent h4{
	font-weight: bold;
}
.recent button{
	border-radius: 50px;
	border-style: none;
	color:#000;
	float: right;
	font-size: 13px;
	padding:6.5px 40px;
	line-height: 2;
	font-weight: 500;
}
.recent button:hover{
	color: #fff;
	background: #000;
}
.recent .card-deck {}
.h6, h6 {
    font-size: 1.1rem;
    }

element.style {
}

.recent .card-deck .card {
    margin-right: 9px;
    margin-left: 9px;

}
.recent .card strong{
	float: right;
	font-weight: 440;
	color: #999;
	font-size: 20px;

}  
.recent .card-title {
    
    margin-top: -10px;
}
.recent .card-text{line-height: 1.8px ; padding-bottom: 10px;}
.recent .row2{padding-bottom: 18px;}
.recent {padding-bottom: 50px;}
.recent .card:hover img{opacity: 0.8; }
.recent .card:hover h6 ,.recent .card:hover strong{color:#497EC1;}

/**end recent */
/** */

/** start subscribe */
.subscribe {background: #FFC700; padding-bottom: 35px;}
.subscribe h4{padding-top: 32px;font-weight: 600;}
.subscribe p{font-size: 14px; color: #000;}
.subscribe .input-group {margin-top:-10px;}
.subscribe input{font-size: 14px;line-height: 2;}
.subscribe button{color: #FFC700;font-size: 13px;background: #000;}
.subscribe button:hover{background: #3B74BC;color: #fff;}

/** end subscribe */

/** */

/** input group rounded*/
.input-group .form-control{
	 border-radius: 5000px 0 0 5000px;
}
.input-group .btn{
	 border-radius: 0 5000px 5000px 0;
	 padding: 7px 25px;
}
/** */

/** start footer1*/
.footer1{background: #2C394C;padding-top: 30px;padding-bottom: 30px;}
.footer1 h6{padding-top: 15px;
	color: #FFC700;
    text-align: center;
    font-weight: bold;
}
.footer1 ul { list-style: none;padding-left: 0; }
.footer1 ul li a{
	text-decoration: none;
	color: #888f99;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.5;
}
.footer1 ul li a:hover{color: #FFC700;}
.footer1 hr{background: #404c5d;border-top: .1px solid rgba(a,a,a,0.1)}
/** end footer1*/
/** */

/**start footer2 */
.footer2{background: #242F40;padding-top: 50px;}
.footer2 .row{padding-bottom: 40px;}
.footer2 h6{color: #FFC700;font-weight: 640;}
.footer2 p {
    font-weight: 200;
    font-size: 13.3px;
    line-height: 2;
	color: #888f99;}
.footer2 .parg{padding-right: 0; 
    padding-left: 15px;}
.footer2 .readmore{
    font-size: 14px; 
	color: #FFC700; 
	text-decoration: none;
	 }
.footer2 .readmore:hover{color: #FFf;}
.footer2 ul{list-style: none;}
.footer2 ul a{
	line-height: 2.5;
	text-decoration: none;
    color: #888f99; 
    font-size: 16.5px;
}
.footer2 ul a:hover{color: #FFC700;}
.footer2 .payment {text-align: right;}
.footer2 .payment img{margin-right: 30px;}
.footer2 hr {background: #404c5d; border-top: .1px solid rgba(a,a,a,0.1)}
.footer2 .Copyr{padding-top: 15px;padding-bottom: 20px;}
.footer2 .Copyr span{color: #FFC700;  }
/** end footer2 */
/** */